.fa-react {
    font-weight: 500;
    font-size: 150px;
    margin-top: 25vh;
    color: cyan;
    animation: App-logo-spin infinite 5s linear;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.load-text{
    color: cyan;
}